<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" media="screen"/>
    <title>Home</title>
</head>
<body>
    <div>
    <div class="top ">
        <h2 class="debug">
            Tinder
        </h2>
    </div>
    <div class="column debug">
        <div class="rowLine debug">
            Nome:
              
        </div>
        
        <div class="rowLine debug">
            <div class="button like"></div>
            <div class="button superlike"></div>
            <div class="button cut"></div>
        </div>
        <div class="rowLine debug">
            Bio: 
        </div>
    </div>
    <div>
</body>
</html>

<script>
    let photos = []
</script>